/* General Style */ 
body {
  font-family: "Times New Roman",  Timmes, serif;
  background-color: maroon;
  color: white;
  argin: 0;
  padding: 0;
}

/* Header and Title */
header, h1 {
  background-color: lightseagreen;
  color: white;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

/* Navigation */
nav a {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Product Section */
.product{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 30px;
  background-color: lightgreen
}

/* Product Card */
.card  {
  background-color: white;
  color: black;
  border: 2px solid #0288d1;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 10px;
}

/* Image inside Product Card */
.card img {
  width: 50%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Product Title and Text */
.card h3 {
  margin: 8px 0;
  font-size: 18px;
}

.card p {
  font-size: 16px;
  color: lightseagreen;
}

/* Button Style */
.card button {
  background-color:aqua;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.card button:hover {
  background-color: lightgreen;
}

/* Hover Effect sa Card */
.card:hover  {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
